body {
    -x-system-font:none;
    background:#212121 url(/images/body.png) repeat-x scroll 0 0;
    color:#333333;
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin:0;
    min-width:1044px;
}

#header {
    display:block;
}
#c-header {
    background-color:#29264D;
    border-color:-moz-use-text-color -moz-use-text-color #494573;
    border-style:none none solid;
    border-width:0 0 3px;
    display:inline-block;
    font-family:arial,helvetica,sans-serif;
    font-size:100%;
    font-style:inherit;
    font-weight:inherit;
    height:91px;
    margin:0;
    min-width:1044px;
    overflow:hidden;
    padding:0;
    vertical-align:baseline;
}

#c-logo a {
    background-image:url(/images/rails.png);
    background-repeat:no-repeat;
    display:block;
    height:56px;
    overflow:hidden;
    text-indent:-9999px;
    width:177px;
}

ul#c-account-nav {
    -moz-border-radius-bottomleft:7px;
    -moz-border-radius-bottomright:7px;
    -moz-border-radius-topleft:7px;
    -moz-border-radius-topright:7px;
    background-color:#231D40;
    margin-left:10px;
    margin-right:25px;
    padding-left:15px;
    padding-right:15px;
}

ul#c-section-nav {
    display:block;
}

a, input {
    outline: none;  /* disable mozilla's dotted box around link */
}
a {
    color: #555;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    border: 0;
}
#wrapper {
    width: 995px;
    margin: 0 auto;
}
#main {
    overflow: hidden;
    padding: 37px 9px 28px 9px;
}
.accordion {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 360px;
    overflow: hidden;
}
.slide {
    background: url(/images/v3/slide.png) no-repeat;
}
.slide-bottom {
    background-position: 0 -5px;
}

.accordion .content {
    height: 203px;
    padding: 25px 38px 0;
}
.accordion .slide-bottom .content {
    height: 208px;
}

.accordion .content h2 {
    color: #6bb4fb;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    margin: 0 0 27px;
}
.accordion .list {
    margin: 0;
    padding: 0 0 5px;
    list-style: none;
}
.opener {
    display: block;
    width: 490px;
    text-indent: -9999px;
    position: relative;
}
#create-slide .opener {
    height: 45px;
    background: url(/images/v3/create.png) no-repeat;
}
#create-slide .opener.active {
    background-position: 0 -45px;
}
#deploy-slide .opener {
    height: 41px;
    background: url(/images/v3/deploy.png) no-repeat;
}
#deploy-slide .opener.active {
    background-position: 0 -41px;
}
#work-slide .opener {
    height: 44px;
    background: url(/images/v3/work.png) no-repeat;
}
#work-slide .opener.active {
    background-position: 0 -44px;
    height: 39px;
}
#code-create, #code-deploy, #code-work {
    display: block;
    text-indent: -9999px;
}
#code-create {
    width: 280px;
    height: 93px;
    background: url(/images/v3/code-create.png) no-repeat;
}
#code-deploy {
    width: 339;
    height: 117px;
    background: url(/images/v3/code-deploy.png) no-repeat;
}
#code-work {
    width: 305;
    height: 110px;
    background: url(/images/v3/code-work.png) no-repeat;
}
.rightpane {
    float: right;
    width: 425px;
    padding: 21px 37px 0 0;
}
.tagline, .apps-now, .signup {
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    overflow: hidden;
}
.tagline {
    width: 328px;
    height: 28px;
    margin-bottom: 7px;
    background: url(/images/v3/tagline.png) no-repeat;
}
.apps {
    text-align: center;
    margin-right: 1px;
}
.number-7 + .number-comma {
    margin-left: -3px;
}
.apps-now {
    position: relative;
    top: -5px;
    width: 196px;
    height: 17px;
    margin-bottom: 26px;
    background: url(/images/v3/apps-now.gif) no-repeat;
}
.signup {
    width: 169px;
    height: 34px;
    margin-bottom: 19px;
    background: url(/images/v3/signup.png) no-repeat;
    padding-right: 2px;
}
.signup:hover {
    background-position: 0 -34px;
}
.subtag,
.presign {
    color: #7565c7;
    display: block;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
    width: 300px;
}
.subtag { padding-bottom: 35px; }
.presign { padding-bottom: 16px; }

#widgets {
    overflow: hidden;
    padding: 4px 0 8px 9px;
}
#widgets > a {
    float: left;
    cursor: pointer;
    overflow: hidden;
    width: 205px;
    height: 162px;
    padding: 20px 20px 12px;
    color: #333;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background: url("/images/v3/widget.png") no-repeat;
}
#widgets a:first-child {
    background: url("/images/v3/widget-left.png") no-repeat;
}

#widgets a:last-child {
    background: url("/images/v3/widget-right.png") no-repeat;
}
#widgets > a:hover {
    text-decoration: none;
    background-position: 0 -194px !important;
}
#widgets > a:hover .content {
    color: #999;
}
#widgets .logo {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    width: 205px;
    height: 60px;
    margin: 0 0 11px;
}
#widgets .logo {
    background: transparent no-repeat 50% 0;
}
#widgets > a:hover .logo { background-position: 50% -60px; }
#widgets .title {
    color: #4c4c4c;
    display: block;
    font-size: 14px;
    margin: 0 0 3px;
    font-weight: bold;
}
#widgets > a:hover .title {
    color: #fff;
}

.twitter {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    width: 172px;
    height: 18px;
    margin: -3px auto;
    background: url(/images/v3/twitter.gif) no-repeat;
    padding-right: 6px;
}
.twitter:hover {
    background-position: 0 -18px;
}
.menu {
    float: left;
    width: 213px;
    padding: 0 16px;
    line-height: 16px;
}
.menu .heading {
    display: block;
    font-size: 14px;
    color: #808080;
    margin: 0 0 15px;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li {
    width: 100%;
    overflow: hidden;
    vertical-align: top;
    margin: 0 0 8px;
}
.menu a:hover {
    color: #ccc;
    text-decoration: none;
}
.menu #recent a.title {
    color: #999;
    display: block;
}
.menu #recent a.title:hover {
    color: #fff;
    text-decoration: none;
}
.menu #recent a.host:hover {
    color: inherit;
    text-decoration: underline;
}
.menu #recent em {
    font-style: normal;
    font-size: 12px;
    color: #555;
}
.menu #recent li {
    margin: 0 0 15px;
}

.home #c-footer {
    margin-top: 30px;
}
.home #c-footer .sixth {
    width: 127px;
}
.home #c-footer .third {
    width: 282px;
}
.home #c-footer #c-footer-company {
    width: 110px; padding-left: 36px;
}
.home #c-footer #c-footer-business {
    width: 136px;
}
.home #c-footer #c-footer-platform {
    width: 135px;
}

#c-footer .container {
    display:block;
}

#c-footer .container {
    display:inline-block;
    margin:0 auto;
    padding-left:18px;
    padding-right:18px;
    padding-top:9px;
    text-align:left;
    width:1008px;
}